body {
    margin: 0;
}

header {
    background-color: white;
    border-top: 50px solid white;
    border-bottom: 40px solid white;
}

header::after {
    content:'';
    display: table;
    clear: both;
}

.container-h1 {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

#logo {
    float: left;
    padding-top: 5px;
    max-width: 180.364px;
    max-height: 35.108px;
}

#here {
    border-bottom: 5px solid black;
}

nav .openMenu {
    font-size: 1.6rem;
    margin: 0 auto;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

nav {
    padding-top: 5px;
    float: right;
}

nav .mainMenu {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    list-style: none;
    display: flex;
    margin: 0;
}

nav .mainMenu li {
    margin-left: 40px;
    font-size: 19px;
    display: inline-block;
    position: relative;
}

nav .mainMenu li a {
    text-decoration: none;
    color: black;
}

nav .mainMenu li a::before {
    content: '';
    display: block;
    position: absolute;
    height: 5px;
    bottom: 28px;
    width: 100%;
    width: 0%;
    background-color: #cbc256;
    transition: all ease-in-out 250ms;
}

nav .mainMenu li a:hover::before {
    width: 100%;
}

nav .mainMenu li a:hover {
    color: #cbc256;
}

.container-h2 {
    background-image: url("https://www.csus.edu/newcsus2019-global-assets/_internal/images/home-images/fall_campus.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 40%;

    -webkit-background-size: cover;
    background-size: cover;

    width: 100%;
    max-height: 20px;
    padding-top: 130px;
    padding-bottom: 130px;
    margin: 0 auto;
}

#title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-shadow: 0 0 10px black;
    color: white;
}

#location {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 25px;
    text-shadow: 0 0 10px black;
    color: #f1e4b6
}

.container-h2 ul {
    text-align: right;
    line-height: 2.3em;
    width: 80%;
}

.container-h2 li {
    list-style: none;
}

.container-h3 {
    width: 100%;
    padding-top: 5px;
    margin: 0 auto;
    background: linear-gradient(to right ,purple, red, yellow, orange, green);
    opacity: 0.8;
}

@media(max-width: 800px) {
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        padding: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to bottom left,  #022e22, #024122, #025122);
        transition: top 1s ease;
        display: none;
    }

    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        color: white;
    }

    nav .openMenu {
        display: block;
    }

    nav .mainMenu li a {
        color: white;
    }

    #here {
        color: white;
        border: 2px solid white;
        padding: 10px;
    }

    nav .mainMenu li a:hover {
        background: none;
        color: #cbc256;
        font-size: 1.5rem;
    }

    nav.mainMenu li a::before {
        transition: none;
        background-color: none;
    }

    nav .mainMenu li a:hover::before {
        width: 0%;
    }


    .container-h2 {
        background-image: url("https://www.csus.edu/newcsus2019-global-assets/_internal/images/home-images/fall_campus.jpg");
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: 40%;

        -webkit-background-size: cover;
        background-size: cover;

        width: 100%;
        max-height: 70px;
        padding-top: 130px;
        padding-bottom: 130px;
        margin: 0 auto;
    }
}




